*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, Arial, sans-serif;
}

/* HERO BACKGROUND */

.hero{
height:100vh;
width:100%;

background-image:url("Assets/palestine.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
justify-content:center;
position:relative;
}

/* DARK OVERLAY */

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.45);
}

/* PAYMENT CARD */

.card{
position:relative;
background:white;
width:380px;
padding:30px;
border-radius:25px;
box-shadow:0 10px 40px rgba(0,0,0,0.25);
z-index:2;
}

.section{
margin-bottom:20px;
}

label{
color:#777;
font-weight:600;
display:block;
margin-bottom:8px;
}

.row{
display:flex;
gap:10px;
}

input{
flex:1;
padding:15px;
border-radius:15px;
border:none;
background:#f3f3f3;
font-size:18px;
font-weight:600;
}

.currency{
display:flex;
align-items:center;
gap:8px;
background:#f3f3f3;
padding:12px;
border-radius:15px;
font-weight:700;
}

.currency img{
width:24px;
}

.rate{
color:#007c91;
font-weight:700;
margin-top:10px;
}

.exchange{
margin-top:10px;
color:#777;
}

.exchange .old{
text-decoration:line-through;
margin:0 5px;
}

.fee{
margin-top:15px;
color:#777;
}

.fee span{
color:green;
font-weight:bold;
}

.promo{
background:#e8f5e9;
padding:10px;
border-radius:10px;
margin-top:15px;
font-weight:700;
}

.pay-btn{
margin-top:25px;
width:100%;
padding:18px;
background:#2aa65a;
border:none;
border-radius:15px;
color:white;
font-size:20px;
font-weight:700;
cursor:pointer;
}

.pay-btn:hover{
background:#22934f;
}